# X-WAD Configuration
# Copy this file to .env and update with your paths

# Where the models will be saved
MODELS_FOLDER_PATH=./models

# Where the datasets are stored
DATASETS_FOLDER_PATH=./datasets

# Where plot images will be saved
IMAGES_FOLDER_PATH=./images

# Only for NVIDIA Ampere architecture (2020) or newer
ALLOW_OPTIMIZATIONS=false

# If low ram is available force to use less cores (spawn less parallel processes)
MULTIPROCESSING_OVERRIDE_NUM_CORES=0