# X-WAD Configuration
# Copy this file to .env and update with your paths

MODELS_FOLDER_PATH=./models # Where the models will be saved
DATASETS_FOLDER_PATH=./datasets # Where the datasets are stored
ALLOW_OPTIMIZATIONS=false # Only for NVIDIA Ampere architecture (2020) or newer
MULTIPROCESSING_OVERRIDE_NUM_CORES=0 # If low ram is available force to use less cores (spawn less parallel processes)